  
{
  "hooks": {
    "pre-commit": "npm run lint",
   // "prepare-commit-msg": "exec < /dev/tty && git cz --hook",
    "commit-msg": "commitlint --edit $HUSKY_GIT_PARAMS",
    "pre-push": "npm run test"
  }
}